<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/api/courses/" enctype="application/x-www-form-urlencoded">
        <label for="name">COURSE NAME</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="code">COURSE CODE</label><br>
        <input type="text" id="code" name="code"><br><br>
        <label for="description">DESCRIPTION</label><br>
        <textarea type="text" id="description" name="description" style="width: 200px; height: 150px;"></textarea><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>